.text--link {
    font-weight: 400;
    font-size: 22px;
    color: #1A71D2;
}

.title--under {
    display: inline;
    background-repeat: no-repeat;
    background-position: left bottom 12px;
    background-size: 100% 12px;
    background-image: linear-gradient(to right, #FBDC4D);
}