.header-title {
    padding-top: 82px;
}

.header-title__wrapper {
    display: flex;
    justify-content: space-between;
}



.header-title__info {
    padding-top: 19px;
    width: 542px;
}

.header-title__desk {
    margin-top: 30px;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 22px;
    line-height: 1.6;
}

.header-title__buttons .button:not(:last-child) {
    margin-right: 20px;
}

.header-title__img {
    z-index: 9;
    box-shadow: 40px 40px rgba(255, 255, 255, 0.5);

    img {
        width: 475px;
        height: 410px;
        object-fit: cover;
    }
}

.header-banner {
    margin-top: -132px;
    width: 100%;
    z-index: -1;

    img {
        margin-left: auto;
        margin-right: auto;
    }
}

.header-skills__wrapper {
    display: flex;
    column-gap: 80px;
}

.header-skills {
    padding-bottom: 90px;
}

.header-skills__info {
    max-width: 635px;
}

.header-skills__info .title-3 {
    margin-bottom: 30px;
}

.header-skills__info-list {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;
}

.header-skills__info-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.header-skills__info-list-item {
    &::before {
        content: "—";
    }
}

.header-skills__contacts {
    max-width: 360px;
}

.header-skills__contacts .title-3 {
    margin-bottom: 30px;
}

.header-skills__contacts .text--link {
    line-height: 1.3;

    transition: text-shadow 0.2s ease-in, text-decoration 0.2s ease-in;

    &:hover, &:focus {
        text-shadow: -4px 4px 7px #1169ce;
        text-decoration: underline;
        color: #1A71D2;
    }
}

.header-skills .socials {
    margin-bottom: 20px;
}

