.header-top {
    padding-top: 60px;
    //position: sticky;
    //top: 0;
}

.header-top__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top__nav-list {
    display: flex;
    column-gap: 100px;
}

.header-top__nav-list-item {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: $black-color;

    a {
        transition: text-shadow 0.2s ease-in, color 0.2s ease-in;
    }

    a:hover,
    a:focus {
        text-shadow: 4px 4px 7px #FBDC4D, -4px -4px 7px #FBDC4D,;
    }
}

.header-top__links {
    display: flex;
    align-items: center;
    column-gap: 26px;
}

.header-top__linkedin {
}

.header-top__github {
}