.hw {
    padding-top: 70px;
    padding-bottom: 90px;
}

.hw__title {
    margin-bottom: 70px;
    text-align: center;

    .title--under {
        background-position: left bottom 10px;
        background-size: 100% 8px;
    }
}

.hw-timeline {
    margin-left: auto;
    margin-right: auto;
    max-width: 901px;
}

.hw-timeline-item {
    position: relative;
    padding-right: 55px;
    width: 50%;
    text-align: right;

    

    &:nth-child(even) {
        margin-left: auto;
        padding-right: 0;
        padding-left: 55px;
        text-align: left;

        &::before {
            right: auto;
            left: -17px;

            @media (max-width: 899px) {
                left: 0;
             }
        }

        &::after {
            right: auto;
            left: -2px;

            @media (max-width: 899px) {
                left: 15px;
             }
        }

        @media (max-width: 899px) {
           margin-left: 0;
           padding-right: 0;
           padding-left: 55px;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 7px;
        right: -17px;
        width: 34px;
        height: 34px;
        border: 4px solid #E1EEF4;
        border-radius: 50%;
        background: #FFFFFF;

        @media (max-width: 899px) {
            right: auto;
            left: 0;
         }
    }

    &::after {
        content: "";
        position: absolute;
        width: 4px;
        top: 38px;
        bottom: -7px;
        right: -2px;
        background: #E1EEF4;

        @media (max-width: 899px) {
            right: auto;
            left: 15px;
         }
    }

    &:last-child {
        &::after {
            display: none;
        }
    }

    .title--under {
        background-position: left bottom 3px;
        background-size: 100% 6px;
    }
}

.hw-timeline-item-desk {
    //width: 350px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}

.hw-timeline-item-desk--wider {
    //width: 445px;
}

.hw-timeline-item-duration {
    margin-top: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
}

